@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Lato:ital,wght@1,300&family=Poppins:wght@400;500;600&family=Public+Sans:ital,wght@0,400;1,300&family=Raleway:wght@200&family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
}
/* Header Style */
.header{
    width: 100%;
    height: 10vh;
    font-weight: 500;
    background-color:#f8edeb;
}
.container{
    width: 90%;
    padding: 1rem;
}
.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-sp-bw{
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 2rem;
}
.nav-menu{
    width: 49%;
}
.nav-list .nav-item {
    color: black;
    cursor: pointer;
    list-style: none;
}
.nav-item a , .nav-logo{
    cursor: pointer;
    text-decoration: none;
    font-variant: small-caps;
    color: black;
}
.nav-link i{
    margin-right: .15em;
    color: #c79c76;
}
/* Body Style */
body{
    background-color:#f8edeb;
}
/* Home Style */
/* --> about-me-section Style <-- */
.about-container{
    width:100%;
    font-size: 1rem;
    text-transform: capitalize;
}
.about-me-section{
    margin-left: -1rem;
}
.about-me-section span{
    color: #c79c76;
    font-variant: small-caps;
    font-size: larger;
}
.about-me-section p{
    line-height: 1.6;   
    letter-spacing: .065rem;
}
.my-image-section{
    margin-left: 20px;
}
img{
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
}
.fancy-shape{
  background: linear-gradient(45deg,  #ffb5a7 0%,#fec89a 20% , #f8edeb 100%);
  animation: fancy-div 8s ease-in-out infinite;
  border-radius: 30% 70% 59% 41% / 44% 63% 37% 56% ;
  height: 425px;
  transition: all 1s ease-in-out;
  width: 360px;
  margin-top:8rem;
  margin-left: 0.3rem;
}   
@keyframes fancy-div {
    0% {
              border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
              background: linear-gradient(45deg,  #ffb5a7 0%,#fec89a 20% , #f8edeb 100%);
      } 
      
      50% {
  border-radius: 42% 58% 59% 41% / 44% 63% 37% 56%  ;
              background: linear-gradient(45deg, #fec89a 0%, #ffb5a7 20%, #f8edeb 100%);
      }
    
      100% {
          border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
          background: linear-gradient(45deg, #ffb5a7 0%,#fec89a 20% ,#f8edeb 100%);
      } 
  }
  
  