@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dancing+Script:wght@400;500;700&family=Fira+Sans+Extra+Condensed&family=Lato:ital,wght@1,300&family=Poppins:wght@400;500;600&family=Public+Sans:ital,wght@0,400;1,300&family=Raleway:wght@200&family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Html style */
html{
    scroll-behavior: smooth;
}
/* Header Style */
.header {
    width: 100%;
    height: 10vh;
    font-weight: 500;
    background-color: #F8EDEB;
    position: fixed;
    transition: all 0.5s;
    z-index: 800;
}
.container {
    width: 90%;
    padding: 1rem;
}
.flex {
    display: flex;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-sp-bw {
    justify-content: space-between;
    align-items: center;
}
.flex-sp-ar{
    justify-content: space-around;
}
.nav-logo{
    font-size: 3rem;
    font-weight: 600;
    color: #c79c76;
    font-family: 'Clicker Script', cursive;
    font-variant: uppercase;
    transform: text-shadow 850ms ease-in-out;
}
.nav-logo:hover{
    text-shadow: 0 0 .5rem #fffefd,
    0 0 .55rem #fffefd,
    0 0 .6rem #fffefd,
    0 0 .65rem #fffefd,
    0 0 .70rem #fffefd;
}
.nav-menu {
    width: 33%;
}
.nav-list .nav-item {
    color: black;
    cursor: pointer;
    list-style: none;
}
.nav-item a,.download-resume a,
.nav-logo {
    cursor: pointer;
    text-decoration: none;
}
.nav-item a{
    color: black;
    font-variant: small-caps;
}
.nav-link i {
    margin-right: 0.15em;
    color: #c79c76;
}
/* Body Style */
body {
    background-color: #f8edeb;
    position: relative;
}
/* Home Style */
/* --> home-section Style <-- */
.home-section{
    height: 100vh;
}
.about-container {
    width: 100%;
    font-size: 1rem;
    text-transform: capitalize;
    height: 100%;
}
.about-me-section span ,.part-contact-sec> h5 span{
    color: #c79c76;
    font-family: 'Clicker Script', cursive;
    font-size: 2.4rem;
    margin: 0 .6rem;
    transition: text-shadow 700ms ease-in-out;
    text-shadow: 0 0 .6rem #fffefd,
    0 0 .65rem #fffefd,
    0 0 .7rem #fffefd,
    0 0 .75rem #fffefd,
    0 0 .80rem #fffefd;
}
.about-me-section p {
    line-height: 1.6;
    letter-spacing: 0.065rem;
    /* position: relative; */
}
.download-resume{
    margin: 1% 2% 2% 2%;
    width: -moz-fit-content !important;    /* Firefox */
    width: -webkit-fit-content !important; /* Chrome */
    width: fit-content !important;
}
.border-bottom{
    width: 100%;
    height: .2rem;
    margin-top: .4rem;
    background-image:linear-gradient(45deg, #ffb5a7 0%,#fec89a 20% , #f8edeb 100%);
}
.my-image-section {
    /* margin-left: 20px; */
    position: relative;
    height: 100%;
}
.my-image-section img {
    height: 100%;
    position: absolute;
    bottom:0px;
    /* left: 50%; */
}
.fancy-shape {
    background: linear-gradient(45deg, #ffb5a7 0%,#fec89a 20% , #f8edeb 100%);
    animation: fancy-div 8s ease-in-out infinite;
    border-radius: 30% 70% 59% 41% / 44% 63% 37% 56%;
    height: 427px;
    transition: all 1s ease-in-out;
    width: 360px;
    margin-top: 9.6em;
    margin-left: 0.3rem;
}
@keyframes fancy-div {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, #ffb5a7 0%,#fec89a 20% , #f8edeb 100%);
    }

    50% {
        border-radius: 42% 58% 59% 41% / 44% 63% 37% 56%;
        background: linear-gradient(45deg, #fec89a 0%, #ffb5a7 20%, #f8edeb 100%);
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, #ffb5a7 0%,#fec89a 20% ,#f8edeb 100%);
    }
}
.div-border{
    width: 100%;
    background: linear-gradient(45deg, #ffb5a7 0%,#f8edeb 80% ,#ffb5a7 100%);
    height: 0.4rem;
    border-radius:2rem;
}
/*--> about-me-section Style <--  */
.about-section{
    margin: 0rem;
    width: 100%;
    height: 100vh;
    background:linear-gradient(360deg, #f8edeb 10%,#f8edeb 40% ,#f8d3cb 100%);
}
.intro-wrapper{
    padding: 2rem 0rem 0rem 0rem;
}
.flex-col{
    flex-direction: column;
}
.about-section-container{
    padding: 2rem;
    width: 80%;
}
.intro-wrapper h2{
    font-size: 2.5rem;
    font-variant: small-caps;
    color: #c79c76;
    -webkit-text-stroke: .7px #f6eee7;
    opacity: .9;
}
.intro-wrapper  .under-title-border{
    margin-top:.5rem;
    height: .2rem;
    width: 13rem;
    background-image:linear-gradient(45deg, #ffb5a7 0%,#fec89a 20% , #F8DED9 100%);
}
.image-box{
    position: relative;
    width: 14rem;
    height: 14rem;
    background-color: #F8DED9;
    border-radius: 50%;
    overflow: hidden;

}
.image-box::before{
    content: "";
    position: absolute;
    inset: -10px 80px;
    background-image:linear-gradient(45deg, #ffb5a7 20%,#fec89a 80% , #ffb5a7 100%);
    transition: .5s;
    animation: animate-border 4s linear infinite;
}
.image-box:hover::before{
    inset: -10px 0px;
}
.image-box::after{
    content: "";
    background-color:#F8DED9 ;
    position: absolute;
    inset: 6px;
    border-radius: 50%;
    z-index: 1px;
}
@keyframes animate-border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.image-content{
    position: absolute;
    inset: 16px;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    border:2px solid #d6bda9;
}
.image-content img{
    position:absolute;
    top: 0;
    width: 100%;
    right: 0;
    height: 100%;
    object-fit: cover;
}
.about-wrapper{
    margin-left: 2rem;
    width: 47%;
}
.card-box{
    margin:.6rem 0;
}
.about-card{
    width: 7rem;
    height: 7rem;
    padding: .2rem;
    position: relative;
    cursor: pointer;
}
.about-card::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 20%;
    border-bottom: 2px ridge transparent;
    border-left: 2px ridge transparent;
    transition: all 870ms ease-in-out;
}
.about-card::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width:20%;
    height: 20%;
    border-top:  2px ridge transparent;
    border-right: 2px ridge transparent;
    transition: all 870ms ease-in-out;
}
.card-box:hover .about-card::after{
   border-color: #c79c76;
   width: 20%;
   height: 20%;
    cursor: pointer;
}
.card-box:hover .about-card::before{
    border-color: #c79c76;
    width: 20%;
    height: 20%;
    cursor: pointer;
 }
.about-card i{
    font-size: 1.5rem;
    color: #c79c76;
}
.about-card span{
    margin-top: .4rem;
    font-weight: 600;
    font-size: 1rem;
}
.about-card p{
    font-size: .7rem;
    margin-top: .5rem;
    font-weight: 500;
}
.about-wrapper-sec-2{
    font-size: .7rem;
    text-align: justify;
    font-weight: 600;
    color: #6c6056;
    line-height: 1.1rem;
    letter-spacing: .012;
    text-transform: capitalize;
}
.contact,.download-resume{
    background-color:none;
    border: 1px solid #c79c76;
    width: 20%;
    background-color: #c79c76;
    text-align: center;
    padding: .4rem .6rem;
    border-radius: .5rem;
    margin-top: 1rem;
    outline:2px ridge #F8DED9 ;
    transition: outline-offset 750ms ease;
}
.contact a ,.download-resume a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-variant: small-caps;
}
.contact:hover,.contact:focus , button:focus , button:hover, .download-resume:focus , .download-resume:hover{
    outline-offset: -6px;
}
.section-border{
    width: 100%;
    background: linear-gradient(45deg, #ffb5a7 0%,#f8edeb 80% ,#ffb5a7 100%);
    height: 0.4rem;
}
/* --> skills-section Style <--   */
.skills-section{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(45deg, #f8edeb 10%,#f8edeb 40% ,#f8d3cb 100%);

}
.skill-container{
    display: flex;
    height: 31%;
    margin: 4rem auto;
}
.skills-part-section:first-of-type{
    margin-right: 2rem;
}

.skills-part-section{
    border: 2px solid #c79c76;
    outline:1px ridge #F8DED9 ;
    padding: 1rem 1.4rem;
    border-radius: 20px;
    width: 260px;
    transition: outline-offset 750ms ease;
    height: 110%;
}
.skills-part-section:hover{
    outline-offset: -6px;
}
.skills-part-section h3{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.fe-wrapper{
    align-items: center;
    margin: .2rem;
    font-size: .8rem;
    transition: font-size 750ms ease;
}
.fe-skills-p1{
    margin-right: 1.4rem;
}
.fe-wrapper:hover{
    cursor: pointer;
    font-size:1rem ;
}
.fe-skills-item{
    margin-bottom: .7rem;
    width: 100%;
}
.fe-wrapper img{
    color: #b18c6c;
    margin-right: .4rem;
    height: 1rem;
}
.flex-sp-ce{
    justify-content: space-around;
    align-items: center;
}
.fe-skills-item h5{
    text-align: left;
    margin-left: 1.3rem;
    font-size: .6rem;
    color: #ad8c6f;
}
/* --> contact-section Style <--   */
.contact-section{
    width: 100%;
    height: 100vh;
}
.intro-wrapper .under-title-border:last-of-type{
    width: 16rem;
}
.contact-wrapper{
    background-image:linear-gradient(-45deg, #ffb5a7 10%,#fec89a 20% , #f8edeb 100%);
    width: 65%;
    height: 70%;
    margin:2rem auto;
    padding: 1rem 3rem;
}
.contact-wrapper img{
    width: 20px;
    height: 20px;
}
.part-contact-sec{
    width: 30%;
}
.part-contact-sec h3{
    font-size: 2.6rem;
    letter-spacing: .11rem;
    line-height: 1.1;
    padding-top: 1.7em;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.part-contact-sec> h5{
    font-size: small;
    margin-top: 1rem;
    font-weight: 500;
    color: #997e67;
}
.part-contact-sec h5 span{
    font-size: 2rem;
}
.part-contact-sec h5 img{
    vertical-align: middle;
    height: 30px;
    width: 30px;
}
.social-part{
    margin: .1rem 2rem 0rem 1.2rem;
    align-items: center;
}
.social-part:first-of-type{
    margin-top: 1.9rem;
}
.social-part img{
    width: 30px;
    height: 30px;
    margin-right: .8rem;
}
.social-text h5,.social-text a{
    font-weight: 600;
    font-size: .6rem;
}
.social-text a{
    color: #6c6056;
    text-decoration: underline;
}
.form{
    background-image:linear-gradient(-45deg, #FEB6A5 10%,#ebc29e 50% , #f8edeb 100%);;
    /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
    opacity: 0.8;
    padding: 2rem;
    width: 35%;
    border-radius: .2rem;
    margin-left: 5rem;
    justify-content: center;
}
.align-center{
    width: 100%;
}
.send-message {
    padding: 1rem 0rem ;
    align-items: center;
}
.send-message img{
    height: 30px;
    width: 30px;
    margin-right: .2rem;
}
.send-message{
    font-weight: 500;
    margin-top: .2rem;
}
form fieldset{
    border: none;
    margin: 6px;
}
form fieldset label input{
    margin: 6px 0px;
    outline: none;
    border: none;
    border-bottom: 2px solid #c79c76;
    cursor: pointer;
    background: transparent;
    width: 15rem;
}

.form fieldset label:last-of-type{
    margin-top: 2rem;
    font-size: .9rem;
    font-weight: 500;
}
.form fieldset label:last-of-type input{
    height: 16vh;
    border: 2px solid #c79c76;
    border-radius: .2rem;
}
button{
    background-color:none;
    border: 1px solid #c79c76;
    width: 30%;
    background-color: #f3f0ed;
    text-align: center;
    padding: .3rem .6rem;
    border-radius: .5rem;
    margin-top: .15rem;
    outline:2px ridge #d8c3be ;
    transition: outline-offset 750ms ease;
}
